{% extends "base.html" %}

{% block head %}
  <title> TumorH </title>
{% endblock head %}

{% block hero %}

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Beyin Tümörü Tespiti ve Sınıflandırılması</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          TumorH, Beyin Tümörlerinin kolay tespiti ve sınıflandırılması için parmaklarınızın ucunda güçlü bir model sağlar.
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Başla</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{ url_for('static',filename='custom/hero-main.png') }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

{% endblock hero %}

{% block main %}

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>TumorH Nedir?</h3>
            <h2>Temel amacım daha hızlı teşhis sonuçları vererek ihtiyacı olanlara daha hızlı tedavinin verilebilmesidir.</h2>
            <p>
                Bu uygulama ile insanlar herhangi bir tıbbi asistana ihtiyaç duymadan tümörü tespit etmek için MRI görüntülerini kolayca tarayabilir ve böylece süreci daha hızlı ve daha uygulanabilir hale getirebilir.
            </p>
            <div class="text-center text-lg-start">
              <a href="login" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Giriş Yap</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static',filename='custom/about.png') }}" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Web sitesi size  neler sunuyor?</p>
      </header>
      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ url_for('static',filename='img/values-1.png') }}" class="img-fluid" alt="">
            <h3>Her yerden kolay erişim</h3>
            <p>Bu kullanımı kolay web uygulamasına internet bağlantısı olan herhangi bir akıllı telefondan erişilebilir.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="{{ url_for('static',filename='img/values-2.png') }}" class="img-fluid" alt="">
            <h3>Hızlı ve doğru sonuçlar</h3>
            <p>Doğru sonuçları almak sadece bir veya iki dakika sürer. Böylece kullanıcıların ayrıca doktor randevusu almasına gerek kalmaz. </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="{{ url_for('static',filename='img/values-3.png') }}" class="img-fluid" alt="">
            <h3>Tıbbi rapor oluştur</h3>
            <p>Web sitesi ayrıca raporu cihazlarına indirme seçeneği sunar.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="564" data-purecounter-duration="1" class="purecounter"></span>
              <p>Müşteri Memnuniyeti</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projeler</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56;"></i>
            <div>
              <span>7/24</span>
              <p>Destek Saatleri</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
              <p> Çalışan</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Özellikleri</h2>
        <p>Web sitemi benzersiz kılan nedir?</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <img src="{{ url_for('static',filename='img/features.png') }}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Daha hızlı rapor analizi</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Kolay Kullanım</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Çoklu Görüntü Formatlarını Destekler</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Oluşturulan Raporu Kaydeder</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Paylaşmak Kolay</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Doğru Sonuçlar</h3>
              </div>
            </div>

          </div>
        </div>

      </div> <!-- / row -->

    </div>

  </section><!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Ek Bilgi</h2>
        <p></p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Kullanıcı Talimatları</h3>
            <p> Web sitemde bir hesap oluşturun ve sonuçları almak için MRI taramalarınızı yükleyin. Sonuçları doğrudan paylaşmak için kolay seçenek sunar</p>
            <a href="instruct" class="read-more"><span>Daha fazla</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>Nasıl çalışır?</h3>
            <p>Arka uç modelimiz, doğru sonuçlar almanızı sağlamak için son teknoloji algoritmalar ve çerçeveler kullanır.</p>
            <a href="https://github.com/atakanady" class="read-more"><span>Daha fazla</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Belgeler</h3>
            <p>Projemizin ayrıntılı bir açıklamasını almak için buraya tıklayın.</p>
            <a href="https://github.com/atakanady" class="read-more"><span>Daha fazla</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">

    <div class="container" data-aos="fade-up">
<!--        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">-->
<!--        </div>-->

        <div class="col-lg-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-4 mb-3">
                <div class="member" style="box-shadow: none !important;">
                  <div class="member-img bottom-manuel">
                    <img src="{{ url_for('static',filename='img/team/atakan.jpg') }}" class="img-fluid" alt="">
                    <div class="social">
                      <a href="https://twitter.com/atakndyman"><i class="bi bi-twitter"></i></a>
                      <a href="https://github.com/atakanady"><i class="bi bi-github"></i></a>
                      <a href="https://instagram.com/atakanady"><i class="bi bi-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/atakan-ad%C4%B1yaman-416bb71bb/"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 col-lg-8 mb-3">
                <h2 class="profile-title">ATAKAN ADIYAMAN</h2>
                <p class="profile-body">Trakya Üniversitesi 4. Sınıf öğrencisi.
                  Bitirme Tez Projesidir. </p>
              </div>
            </div>
          </div>


      </div>

    </div>

  </section><!-- End Team Section -->

{% endblock main %}
