<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- Favicons -->
    <link href="{{ url_for('static',filename='custom/t-icon.png') }}" rel="icon">
    <link href="{{ url_for('static',filename='custom/t-icon.png') }}" rel="apple-touch-icon">

	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/hover.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/animations.css') }}"/>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/upload.css') }}"/>

	<title> MRI Yükle | TumorH </title>

</head>
<body>

	<div class="bgblack" id="front"><div class="bg"></div></div>
		<div class="fronttext">
		Kanserli Dokuyu Hızlı Tespit Et
	</div>
	<img class="logopic" src="{{ url_for('static',filename='custom/logo.png') }}">
	<p class="animated pulse downarrow"><a href="#info"><i class="fa fa-chevron-circle-down"></i></a></p>
	<div class="infobg"></div>
	<div class="info" id="info">
			<p class="infoup">
				<a href="#front"><i class="material-icons">keyboard_arrow_up</i></a>
			</p>
			<p class="infohead">
				Bu Proje Sizlere Yardım Etmek İçin Burada
			</p>

		<div class="infocols">
		<div class="infocol">
			<p class="infotext infotopic">Belirti</p>
			<p class="infotext">
				Belirtiler büyük ölçüde değişir veya hiç oluşmayabilir. Bazı hastalarda anormal çarpmalar, açıklanamayan ateşler, gece terlemeleri veya kasıtsız kilo kaybı vardır.
			</p>
		</div>
		<div class="infocol">
			<p class="infotext infotopic">Önleme</p>
			<p class="infotext">
				Bu, sağlıklı bir yaşam tarzını sürdürmeyi, bilinen kansere neden olan maddelere maruz kalmaktan kaçınmayı ve kanserin gelişmesini engelleyebilecek ilaçlar veya aşılar almayı içerir.
			</p>
		</div>
		<div class="infocol infocollast">
			<p class="infotext infotopic">Nedenler</p>
			<p class="infotext">
				Yaygın nedenler arasında sigara ve tütün, uygunsuz beslenme ve fiziksel aktivite, güneşten gelen radyasyon ve diğer radyasyon türleri ve virüsler ve diğer enfeksiyonlar bulunur.

			</p>
		</div>
		</div>
		<p class="infodown">
				<a href="#upload"><i class="material-icons">keyboard_arrow_down</i></a>
		</p>
	</div>
	<div class="uploadblack"><div class="uploadbg" id="upload"></div></div>
	<div class="upload">
		<p class="uploadup">
			<a href="#info"><i class="material-icons">keyboard_arrow_up</i></a>
		</p>
		<p class="uploadhead">
			MRI Tümör Tespiti
		</p>
		<p class="uploadtext">
			MRI Tarama Resminizi Yükleyin
		</p>

		<div class="form">
			<form name="bt_classifier" id="form1" enctype="multipart/form-data" action="/upload" method="POST">
				<input class="browse" type="file" name="bt_image" id="bt_image">
				<input class="submit" type="submit" id="sub">
			</form>
		</div>

		<p class="uploadtop">
				<a href="#front"><i class="material-icons">arrow_upward</i></a>
		</p>
	</div>
</body>
</html>